[2013-04-18 23:21] zenmoto opened #39 "Splunk: Real-Time search not working"
I've been having trouble getting real-time searches to work- the connector launches correctly but then doesn't output results.  I think that I've chased the problem down to the runQuery method in SplunkDataReader- it launches a search and then waits for the job to end before pulling in events.  Since the real-time search never ends the connector sits and blocks while waiting.

I've tested this by

[2013-05-15 22:37] jthoms opened #44 "spring-integration-mqtt paho lib mismatch?"
Hi, thanks for the mqtt adapters. I downloaded the latest paho jar, (org.eclipse.paho.client.mqttv3.jar) and am getting build errors, for example, unresolved import org.eclipse.paho.client.mqttv3.IMqttDeliveryToken in
MqttPahoMessageHandler. Am I using the wrong library?

Thanks,
John

[2013-05-16 14:45] #44 closed, assigned to nobody

[2013-07-22 22:05] andypiper opened #57 "Use MQTT Paho from Eclipse Maven repo"
https://repo.eclipse.org/content/repositories/paho-snapshots/

[2013-10-10 11:34] ericbottard opened #59 "[splunk] Update to latest splunk.jar (1.2)"
v1.0 has an important bug where one can't login (!).

Problem is in Service class:

[code]

vs.

[code]

I would issue a PR, but apparently, splunk.jar is managed by hand here, so can't do much.

[2014-01-07 22:51] xbranko opened #63 "Amazon Simple Queue Service (SQS)"
Is there any news regarding Amazon Simple Queue Service (SQS) support? Any early alpha versions to try?

[2014-01-10 01:01] larisa-pozhilova opened #64 "spring-integration-splunk configuration"
Guys,

I'm using:

[code]

And getting the exception:

`
org.springframework.integration.MessagingException: search Splunk data failed
    at org.springframework.integration.splunk.support.SplunkExecutor.poll(SplunkExecutor.java:74)
    at org.springframework.integration.splunk.inbound.SplunkPollingChannelAdapter.receive(SplunkPollingChannelAdapter.java:66)
    at com.rbi.bdd.steps.SplunkVZTIntTes

[2014-04-02 22:26] dpapworth opened #68 "Kafka - incorrect handling of null messages?"
I'm using the following configuration to receive messages on the kafkaChannel bean. Unfortunately, when I call kafkaChannel.receive(), I receive Message objects even if the topic is new, and nothing has been published. (The payload returned is a HashMap)

[code]

Have I done something bone-headed with the configuration above? The documentation isn't terribly clear.

I believe there is a bug in the

[2014-04-24 10:54] kalyanvgopal-zz opened #70 "question on SplunkEvent"
We are trying to use this extension (via Spring XD) and found that we need to always the data as key value pair. In our use case we need to send json data splunk and we can not have plain key value pair. Is there any plan to create an alternative SplunkEvent which do not need a key. (without addPair functionality).

[2014-04-28 05:51] #70 closed, assigned to nobody

[2014-05-27 07:49] #57 closed, assigned to nobody

[2014-05-27 19:45] jmirc opened #73 "Autowired doesn't work with spring-integration-java-DSL"
I created a simple Integration flow using an handler. The handler is autowired in the MyIntegrationFlow class. The handler uses MyService bean that is also autowired.

The problem comes when I tried to use the MyService bean. At this point, the bean is NULL.

MyIntegrationFlow file

[code]

MyHandleGateway file

[code]

[2014-05-28 05:36] #73 closed, assigned to nobody

[2014-06-06 14:39] #59 closed, assigned to nobody

[2014-06-06 14:40] #64 closed, assigned to nobody

[2014-06-06 15:52] jmirc opened #76 "Java DSL: Issue using recipientListRoute with defaultOutputChannelName"
When using a `recipientListRoute` and when the `defaultOutputChannel` is set using a name, the `defaultOutputChannel` channel is not set because the `AbstractMessageRouter#onInit` is not called.

The error is located on the `RecipientListRouter` class that doesn't call the `AbstractMessageRouter#onInit` method

[2014-06-18 06:20] #76 closed, assigned to nobody

[2014-06-23 13:18] jmirc opened #80 "Java DSL and ContentEnricher"
Hi,

I create a class that extends ContentEnricher and I would like to use it in my flow. I am only able to use it with handle method and not with enrich method.

Works with

[code]

Doesn't work with

[code]

[2014-06-23 13:32] #80 closed, assigned to nobody

[2014-06-25 13:48] jmirc opened #84 "Question - Access DelayHandler in flow"
I created a flow to add a delay and I would like to access the DelayHandler to be able to set  a messageStore and a taskScheduler

How can I do it?

[2014-07-01 11:51] #84 closed, assigned to artembilan

[2014-07-01 12:02] #68 closed, assigned to nobody

[2014-07-14 19:37] jmirc opened #86 "Question - Java-Dsl"
Hi,

Can we configure a RequestHandlerRetryAdvice using the Java DSL api?

Thanks

[2014-07-14 19:51] #86 closed, assigned to nobody

[2014-07-15 15:36] jmirc opened #88 "Question - Java-DSL Transaction"
Hi,

I am trying to set a transaction on a poller and I don't know how to do it. Actually the api doesn't allow to configure a Poller when the channel is set as String

[code]

Thanks for your input

[2014-07-15 19:04] #88 closed, assigned to nobody

[2014-08-12 14:30] andrewmilkowski opened #92 "Kafka: regex validation exception when using configuration property setting for topic in int-kafka:topic-filter"
if one puts Spring property setting such as  pattern="${topic}" (see below) spring framework will perform validation and not perform substitution (property for value)

Spring xml

[code]

Exception:

[code]

[2014-08-19 10:08] #92 closed, assigned to nobody

[2014-08-20 09:50] TYsewyn opened #101 "Java DSL: Assertion error "headerExpressions must not be empty""
If we don't add a `headerExpression` on the `EnricherSpec` class (because we simply only want to enrich the payload), we will get an assertion error in the `ContentEnricher` class saying

[code]

The is also the same when we only want to use header expressions.

[2014-08-20 14:30] #101 closed, assigned to artembilan

[2014-09-16 22:59] pramakrishnan opened #113 "spring-integration-kafka.xsd does not exist"
ttp://www.springframework.org/schema/integration/kafka/spring-integration-kafka.xsd
the above xsd doesn't seem to exist. Has this been moved ?

[2014-09-16 23:09] #113 closed, assigned to nobody

[2014-09-17 16:51] pramakrishnan opened #114 "Kafka: pass zookeeper namespace information"
Hi,
my topics are unders a particular namespace `/kafka-production/brokers/topics/notification_development`. Is there a way to pass in `/kafka-production/` to the consumer. I believe my consumer is trying to look for the topic under the ROOT path in Zookeeper because of which no message is being consumed

[code]

Thanks
-Parshu

[2014-09-18 16:15] #114 closed, assigned to nobody

[2014-09-26 08:52] sebge2 opened #115 "AmqpOutboundEndpointSpec missing method"
Hello,

I'm trying to migrate

[code]

with the dsl but I don't see how to specify the channel:

[code]

Did I missed something? other xml attributes have counterparts but not for channel.

Thank you!

[2014-09-26 09:23] #115 closed, assigned to nobody

[2014-10-24 11:18] sowdri opened #119 "spring-integration-aws: spring-integration-core version is not updated"
In build.gradle file the spring-integration version is found to be

`springIntegrationVersion = '4.0.3.RELEASE'`

But while including it from maven central, the published version still depends on older version of spring integration.

 	<groupId>org.springframework.integration</groupId>
	<artifactId>spring-integration-aws</artifactId>
	<version>0.5.0.RELEASE</version>
	<name>Spring Integration AWS

[2014-11-03 15:14] rongning opened #124 "S3 ConnectionPoolTimeoutException"
Is there a status for fixing INTEXT-80 (https://jira.spring.io/browse/INTEXT-80)?

[2014-11-06 15:42] #124 closed, assigned to nobody

[2014-11-10 14:10] rahulmaindargi opened #125 "Spring integration kafka."
The XSD not present at below location.
http://www.springframework.org/schema/integration/kafka/spring-integration-kafka.xsd

Even kafka folder itself is missing from http://www.springframework.org/schema/integration/

The project last updated 3 months ago

[2014-11-10 16:53] rahulmaindargi opened #127 "Spring integration Kafka Sample not working."
Hi,
 I am trying to use very basic String integration Kafka outbound flow. I am referring the code sample at

https://github.com/spring-projects/spring-integration-extensions/tree/master/samples/kafka

I think its failing due to below line in `KafkaProducerContextParser`.

[code]

`prodFactory_topic2` is a bean of type `ProducerFactoryBean`  where as `ProducerConfiguration` (producerConfigurationB

[2014-11-11 16:04] #127 closed, assigned to nobody

[2015-02-28 11:38] artembilan commented on #39
Closed in favor of https://jira.springsource.org/browse/INTEXT-72

[2015-02-28 11:38] #39 closed

[2015-04-17 14:31] artembilan commented on #119
The Spring Integration AWS project has been moved to separate repository (https://github.com/spring-projects/spring-integration-aws) and now it is fully based on the Spring Integration `4.1.x`.

[2015-04-17 14:31] #119 closed

[2015-04-17 14:32] artembilan commented on #63
The https://github.com/spring-projects/spring-integration-aws now provides SQS Adapters implementation. And SNS adapters are on their way soon.

[2015-04-17 14:32] #63 closed

[2015-04-17 14:38] artembilan commented on #125
The Spring Integration Kafka 1.1 has been released recently: https://spring.io/blog/2015/03/26/spring-integration-kafka-support-1-1-ga-is-available
So, looks like http://www.springframework.org/schema/integration/kafka/spring-integration-kafka.xsd works well.

[2015-04-17 14:38] #125 closed

[2015-08-25 14:15] mozinrat opened #151 "Can you please try an implementation of Kryo Serializer"
We are using hazelcast as an standalone server and want to make it unaware of Java objects on web server. We had used a Json envelope for this but it would be a cool feature if you can figure out a Kryo envelope out of box. Thanks really great work..

[2015-08-25 15:59] artembilan commented on #151
The Spring Integration since 4.2 provides support for Kryo (de)serialization: http://spring.io/blog/2015/08/17/spring-integration-4-2-release-candidate-is-available, http://docs.spring.io/spring-integration/docs/4.2.0.BUILD-SNAPSHOT/reference/html/messaging-transformation-chapter.html#codec.

Let us know if it is sufficient for you!

[2015-12-21 11:39] fossamagna opened #153 "Please publish spring-integration-zip 1.0.0.M1"
First thanks for "Spring Integration Zip Support". I would like to use it within my project, but I can't downlaod artifact of spring-integration-zip from [Spring Framework Maven Milestone Repository](https://repo.spring.io/libs-milestone/).  Would you publish 1.0.0.M1?

[2015-12-21 14:49] artembilan commented on #153
Hello, @fossamagna !

First of all thank you for the attention to the project!

If you can confirm that everything here works well for you and when I am sure from my side that project looks well, I'll be able to release M1 this week exactly before Christmas.
Maybe even today...

[2015-12-22 00:56] fossamagna commented on #153
@artembilan Thank you! It's a great help.

[2016-01-08 00:42] robmoore commented on #153
Just curious if this was published. I'd like to use it as well.

[2016-01-08 00:51] artembilan commented on #153
Oh! This long New Years holidays has clear the memory :smile:
Thank you reminder!

Let me check what's going on there just right now!

[2016-01-08 03:01] artembilan commented on #153
So, I've just done some "hard" polishing there https://github.com/spring-projects/spring-integration-extensions/commit/0a5fedcd7a67f9cc36f99a1dc9fa06c300f0b787.
We have a "green" build on the matter https://build.spring.io/browse/INTEXT-ZIP-7
And it even passes for me on Windows.

I'll take a look to this in the morning and hope there won't be any obstacles do not release it tomorrow.

[2016-01-08 05:06] robmoore commented on #153
Wow, thanks for the swift action. I'll keep my fingers crossed.

[2016-01-08 17:35] artembilan commented on #153
OK, guys!

I'm consider the work as finished and `spring-integration-zip-1.0.0.M1` has been released: http://repo.spring.io/libs-milestone/org/springframework/integration/spring-integration-zip/1.0.0.M1/.

Congratulations to all and I'd be glad to hear some feedback how to go ahead with this extension.
Any way to communication is workable.

[2016-01-08 17:35] #153 closed

[2016-01-08 17:39] artembilan commented on #151
I'm considering the `EncodingPayloadTransformer`, `DecodingTransformer`, `CodecMessageConverter` with Kryo support in the Spring Integration Core since `4.2` as valid solution for this request.
See the JIRAs on the matter:
https://jira.spring.io/browse/INT-3779
https://jira.spring.io/browse/INT-3776

Thank you for feedback anyway!

[2016-01-08 17:39] #151 closed

[2016-01-08 17:44] robmoore commented on #153
Thanks @artembilan !

[2016-01-09 13:34] fossamagna commented on #153
@artembilan Thank you very match!

[2016-01-13 18:40] robmoore opened #155 "zip extension with DSL"
I'm trying to use the milestone build of the zip integration and am not having any success with the unzip result splitter flow I've created using [one of the tests](https://github.com/spring-projects/spring-integration-extensions/blob/master/spring-integration-zip/src/test/java/org/springframework/integration/zip/UnZip2FileTests-context.xml) in the repo.

Here is my interpretation of the configura

[2016-01-13 19:37] artembilan commented on #155
Hello @robmoore !

Thank you for the attention to the Framework and such a quick side feedback just after release :smile: .

Anyway let me explain something for your and work out the proper solution, if you really would like to have it in the Java DSL style.

1. The `${workDir}` is a [`PropertyPlaceholder`](http://docs.spring.io/spring/docs/current/spring-framework-reference/html/xsd-configuration

[2016-01-13 21:29] robmoore commented on #155
Thanks for the quick reply @artembilan. I implemented the handler as you suggested and end up with a null value for the `ZIP_ENTRY_PATH` value (eg, `/tmp/int-zip/null/my.zip`) and still am getting the zip file written out rather than the expanded set of files.

[2016-01-13 21:41] artembilan commented on #155
Well, you should share the test case then....
And may some DEBUG logs for the `org.springframework.integration` category to see the picture of the flow.

[2016-01-14 20:09] robmoore commented on #155
@artembilan OK, I've got the splitter working and the problem was apparently due to the router configuration (not shown). Sorry for the false alarm and thank you (once again) for your help.

[2016-01-14 20:09] #155 closed

[2016-01-15 00:13] robmoore opened #156 "zip: Message header for ZIP_ENTRY_PATH is always empty"
I'm trying to use the ZIP_ENTRY_PATH value but I notice it's always empty when setting a breakpoint in UnZipResultSplitter. I'm guessing that this is because I'm using the BYTE_ARRAY zip result type on the zip transformer but it would be nice if there were some way to preserve the containing file's name.

[2016-01-15 00:45] artembilan commented on #156
Hello @robmoore !

Please, share the code to reproduce, because we have the test case on the matter (`UnZip2FileTests`):
[code]
And I can confirm that the result looks like:
![unzipped](https://cloud.githubusercontent.com/assets/1071590/12342263/ea64d8bc-baf6-11e5-8a19-bbf4cbb2de70.png)

Exactly restored an archive structure from the `countries.zip`: https://github.com/spring-projects/spring-integ

[2016-01-15 01:02] robmoore commented on #156
Fair enough, Artem. I should have mentioned that the FileHeaders.FILENAME value is populated with the file name (eg, `de`). It's just the ZipHeaders.ZIP_ENTRY_PATH value that's an empty string:

From UnZipResultSplitter:
[code]

[2016-01-15 01:14] artembilan commented on #156
Right, it is if all files in the zip are in root directory.
I say this because I see this picture from our test-case:
[code]

So, `path` isn't empty and it is really is used from the `directory-expression="'${workDir}/' + headers.zip_entryPath"` to create the sub-directory in the target dir. See the screenshot above.

Still not sure where is your problem.
Need kinda some code to see from your side

[2016-01-15 20:27] robmoore commented on #156
Thanks. I was trying to get the name of the zip file these files are from but it doesn't look like that's one of the headers available here.

[2016-01-15 21:44] artembilan commented on #156
Do you mean the name of the source file, something like `countries.zip`?

You can do that on yourself before the `<int-zip:unzip-transformer>` using `<header-enricher>` and some custom header for your purpose.

Sorry, but this fully different story and doesn't reflect the subject of the issue.

And... similar questions are StackOverflow candidates.

Anyway I'm glad to be helpful.

[2016-01-20 21:51] robmoore commented on #156
Thanks, Artem. It might be helpful to provide some more details in the docs about what each of these headers represent. I understand it after your example but didn't before just based on the docs.

[2016-01-20 21:51] #156 closed

[2016-02-15 17:02] olivierbeyler opened #158 "SMPP: Autoreconnect doesn't work"
I try to see if the reconnection to the server works, so I kill my smpp server and restart it.
the client never manage to restore the connection.

see the log :
17:52:57 INFO  o.j.s.AbstractSession - executeSendCommand
17:52:57 INFO  o.j.s.AbstractSession - commandID:80000015 status:00000000 sequence:16
17:53:02 INFO  o.j.s.AbstractSession - EnquireLinkSender.run() send
17:53:02 INFO  o.j.s.Abstra

[2016-02-15 18:29] garyrussell commented on #158
Can you show your configuration? I just tested (using the `TestSmppConnection` test case and it worked fine for me...

[code]

[2016-02-15 18:31] garyrussell commented on #158
If you enable DEBUG logging, you'll get more information about the "error happened" exception.

[2016-02-16 08:01] olivierbeyler commented on #158
to do the test reconnection I "kill -9" my smmp server
so I have this with debug trace level :

08:59:04 DEBUG o.j.s.SMPPSession - No activity notified, sending enquireLink
08:59:04 INFO  o.j.s.AbstractSession - EnquireLinkSender.run() send
08:59:04 INFO  o.j.s.AbstractSession - executeSendCommand
08:59:04 DEBUG o.j.DefaultPDUSender - Sending SMPP message 00 00 00 10 00 00 00 15 00 00 00 00 00 00

[2016-02-16 08:07] olivierbeyler commented on #158
may I can be have an effect that I replace the version of the deprecated jsmpp (see https://code.google.com/archive/p/jsmpp/) by the new one. To do this  I have change the pom like this :
`<dependency>
            <groupId>org.springframework.integration</groupId>
            <artifactId>spring-integration-smpp</artifactId>
            <version>1.0.0.RELEASE</version>
            <exclusions>

[2016-02-16 17:52] garyrussell commented on #158
We don't currently support that version of the client; we'll use this issue to update to it when we get some spare time - of course, [contributions](https://github.com/spring-projects/spring-integration/blob/master/CONTRIBUTING.adoc) are always welcome.

[2016-02-16 18:09] olivierbeyler commented on #158
I'll try to do this contribution but I'm not yet familiar with gradle environment I usually use maven ;-)

[2016-02-16 20:17] garyrussell commented on #158
[This quick hack](https://github.com/garyrussell/spring-integration-extensions/commit/8fca665bb5c808c29ed59fb132a0cfebf51ffb26) seems to work (at least all the tests pass). Note that I didn't provide implementations (yet) for the new methods on the session.

[2016-04-04 20:18] artembilan opened #160 "Zip Adapters: Redesign UnZipResultSplitter in favor of AbstractMessageSplitter"

[2016-04-06 20:15] artembilan commented on #160
See the related issue https://jira.spring.io/browse/INT-3979

[2016-09-09 12:46] muraliyaj opened #164 "ZipTransformer: "deleteFiles" throwing exception"
Issue:
`deleteFiles=true` causing below exception .
[code]
Reason:
Inside `ZipTransformer`, `deleteFiles` is used to delete the original file before corresponding `FileSource` is used to compress the file.
That is causing `FileNotFoundException`.

[2016-09-09 14:23] artembilan commented on #164
Thank you for reporting this!

Really bug. Confirmed with simple `zipTransformer.setDeleteFiles(true);` modification to the `ZipTransformerTests.zipFile()` test-case.

Will be fixed soon.

[2016-09-09 14:35] muraliyaj commented on #164
Thank you Artem.

[2016-09-09 15:18] muraliyaj commented on #164
Also, This ZIP transformer may need 'error handling mechanism( like error output channel or hook points to advice chain)' to handle failed compression cases like disk full or issues with output channel.

[2016-09-09 15:29] artembilan commented on #164
The error handling isn't `Transfrormer` responsibility. The thrown Exception can be simply `try...catched` by the caller upstream or send to the `errorChannel` in case of async hand off.

In addition, with Java Config the `@Transformer` annotation can be supplied with `adviceChain` where one of that can be `ExpressionEvaluatingRequestHandlerAdvice`.
But, eh, I agree that we have missed `<request-h

[2016-09-21 20:55] #164 closed

[2016-11-10 08:04] jvmlet opened #166 "integration-zip extension and Spring cloud stream"
Hello
Are you going  to expose integration-zip functionalities as spring-cloud-stream zip sink, source and processor ?
Thanks

[2016-11-10 08:37] jvmlet opened #167 "Maven coordinates"
Would you please point me to the maven repository hosting these artifacts ?
Thanks

[2016-11-10 15:03] artembilan commented on #167
https://repo.spring.io/libs-snapshot/ is the best place to find all the artifacts produced by Spring IO and even their dependencies.

Since not all modules in this projects has been even reached their Milestone, you should use `BUILD-SNAPSHOT` for them. And that repository contains them.

[2016-11-10 15:07] artembilan commented on #166
No, we aren't. Just because there was no any requirements yet.
As usual: contribution is welcome!

@sabbyanandan , please, help us to evaluate the best place for asking new `spring-cloud-stream-app-starters` and yes, the Contribution Guidelines would be appreciated.

Thank you both!

[2016-11-10 23:59] sabbyanandan commented on #166
@artembilan: We have created a release train equivalent repo for "core" backlog items. We could drop an issue [here](https://github.com/spring-cloud-stream-app-starters/app-starters-release-train) for SCStAS tracking.

[2016-11-11 00:23] artembilan commented on #166
Thank you @sabbyanandan !

But eh..., not really. The place should be definitely for requesting new applications or common problems.
The GitHub org is ideal, but it doesn't allow to issue requests.

The `app-starters-release-train` is good place for gathering everything together. And yeah, it can be used for scattering as well. Maybe just name doesn't fit? And maybe just for my mind :smile:

I'd c

[2016-11-13 09:19] jvmlet commented on #167
Thanks

[2016-11-13 09:19] #167 closed

[2017-01-11 07:04] agrawalchetan opened #168 "Do we have spring-integration-smb release version"
do we have release the spring integration smb version or is there any plan to release it in near future. with snapshot version, we are not able to download it and we are planning to have released version as we are moving our code to production environment.

[2017-01-11 15:25] artembilan commented on #168
Well, we can release that project as an early prototype in version like `0.5.0`.
But the problem that we will upgrade it to the latest dependencies versions.
Currently the project is based on the EOL Spring Integration `2.2.1`.

So, the question to you: which Spring Integration version do you use in your project?
Would it be so difficult to you to upgrade to the latest `4.3.6`?
Since version `3.0.

[2017-01-12 07:09] agrawalchetan commented on #168
Hi, we are using spring boot version 1.4.2  and spring-integration version 4.3.5. although we can move to 4.3.6 as well.

[2017-01-12 15:46] artembilan commented on #168
That's great!
So, we are upgrading `SI-SMB` project and releasing the next week!
That will be something like `0.5.0.RELEASE`.
Does that work for you?

[2017-01-12 18:11] etorres opened #169 "Milestone update for Spring Integration Hazelcast"
Hi,

First of all, million thanks for your awesome work integrating Hazelcast in Spring.

We are expecting with great expectation the release of a new milestone. Any plans?

Regards,

Erik

[2017-01-12 22:22] artembilan commented on #169
@etorres ,

Of course, first of all, thank you for the attention to the project! 😄

Well, that isn't a bit deal to release, but the question is: what do you see in changes of that project that it requires Milestone?

Yes, unfortunately, there is no progress in that extension for a while, just because there is no external requests. We are community driven team, therefore if there is no feedback fro

[2017-01-13 05:44] agrawalchetan commented on #168
Thank you!!. please let me know once you will release the next version.

[2017-01-13 08:01] etorres commented on #169
Hi Artem,

Thanks for your prompt response. We are specifically interested in leader election. We found that this feature is available in the snapshot repository, and it would be great to have it in the milestone also.

Cheers.

[2017-01-13 13:13] ccaromen commented on #169
Artem,
I am also interested in having this feature in the Milestone.
Currently, I am involved in a project, in which my team is using this feature from the snapshot repository.
Thank you

[2017-01-13 14:24] artembilan commented on #169
OK, guys.
Thank you for feedback!

I'll come back to you next already with M2 release.
After that we can go straightforward to RC over a week or so and than quickly to the GA.

But don't hesitate to provide any feedback.
Even if you can't contribute, requests for new features are welcome!

[2017-01-16 18:14] artembilan commented on #168
@agrawalchetan ,

please, find a PR #170 on the matter.
Let us know if you are fine with all those changes.

Thank you!

[2017-01-16 18:58] #168 closed

[2017-01-17 13:03] agrawalchetan commented on #168
thank you @artembilan, i am fine with the changes. please let me know release version artifact id once changes are done.

[2017-01-18 16:08] artembilan commented on #168
@agrawalchetan ,

We have just released `SI-SMB-0.5.0.RELEASE`: https://spring.io/blog/2017/01/18/spring-integration-extension-for-smb-0-5-0-is-available

Thank you for your request!

[2017-01-23 20:35] #169 closed

[2017-01-23 22:34] artembilan commented on #169
Guys, we have just release `spring-integration-hazelcast-1.0.0.M2`: https://spring.io/blog/2017/01/23/spring-integration-extension-for-hazelcast-1-0-0-m2-available

[2017-01-25 15:42] philnate opened #172 "spring-integration-hazelcast requires JVM local Hazelcast instance"
Hi,

I tried to use the LeaderElection functionality for Hazelcast and stumpled upon the fact that `org.springframework.integration.hazelcast.HazelcastLocalInstanceRegistrar` is checking `com.hazelcast.core.Hazelcast` for all HazelcastInstances on that JVM. The thing is that this doesn't include HazelcastClients, but in our Scenario we have dedicated Hazelcast server to which we connect with Hazel

[2017-01-25 15:57] philnate opened #173 "spring-integration-hazelcast LeaderInitiator shutting if error is catched during event propagation"
Hi,

I have the following scenario, where an exception is thrown during the LeaderEvent propagation. It seems like it's actually making it's way into the `org.springframework.integration.hazelcast.leader.LeaderInitiator` class, where it's not catched and even worse the error is swallowed and neither causes the app to die. This will leave you with an broken instance without further details to why i

[2017-01-25 15:59] artembilan commented on #172
OK. I think you have a point and we should make that local instances selection in the `HazelcastLocalInstanceRegistrar` as optional if an explicit instance is injected.
Right the `HazelcastLocalInstanceRegistrar` bean must be registered in that case.
So, I even guess that we should make an `id` for that bean much easier.

Sorry, for such an inconvenience.

[2017-01-25 16:00] artembilan commented on #173
I think it's really just an omission, but would be better to have some test-case to play with.

Thank you!

[2017-01-25 16:02] philnate commented on #173
Okay, let me put something together for you to play around.

[2017-01-26 08:06] philnate commented on #173
@artembilan please see https://github.com/philnate/issues/tree/spring-intex-hzlcst-173 for a minimal example of the described scenario.

[2017-01-30 20:26] artembilan commented on #173
OK. The problem is confirmed.
And that really doesn't look like event publishing error has to lead to revoke leadership.

Yes, I agree: the simple `warn` should be great compromise.

One of the workaround is an `executor` for the `SimpleApplicationEventMulticaster` to prevent exception bubbling from the event listener.
Another solution is a custom `LeaderEventPublisher`, probably just a simple ext

[2017-01-30 22:12] #173 closed

[2017-03-16 19:25] robmoore opened #176 "Milestone status of zip integration"
It's been over a year since the first milestone was produced. Just curious if there is another planned in the near future?

[2017-03-16 19:29] artembilan commented on #176
@robmoore ,

Thank you for heads up!

Well, since there is no demand (internally or externally) for this project, therefore no progress and no releases.

We always are open for any feedback, ideas and contribution.
Please, don't hesitate to share your mind on the matter.

Just nothing here to release right now and that's all! 😄

[2017-03-16 20:23] robmoore commented on #176
@artembilan Thanks for your quick response. I noticed an issue with deleting zip files after reading them that I thought might be worthy of a release. Is there a workaround you can suggest in the interim?

[2017-03-16 20:28] artembilan commented on #176
I wonder if you are pointing to the https://github.com/spring-projects/spring-integration-extensions/issues/164.

Well, if you need that fix and can't live with the `BUILD-SNAPSHOT` (or locally built artifact), we can release the next Milestone on the matter.

[2017-03-17 04:02] robmoore commented on #176
Yes, that's the issue I was referring to. We don't have a repo set up currently so we'd prefer not to have to do so just for this case.  However, I don't want to have you go to the trouble of creating a release just for us.

[2017-03-17 16:15] artembilan commented on #176
No, there is no troubles from our side on the matter.
That is pretty quick process to release milestone.

And if only you use and there is really a request to have a release on the matter, we will go ahead and do that!

Although... Yes, our Bamboo server is dead right now and you will have to wait for us for the next week when we really will be able to push the button.

We just don't release this

[2017-03-17 19:21] robmoore commented on #176
Thanks, Artem. I'll look for the release next week!

[2017-05-02 08:31] barvepan opened #177 "Inbound poller breaks when file gets modified while reading"
we have a use case,  where we are reading the file from windows remote location with the following steps:

1. Read file from windows share location say input folder.
2. Usually files are very large in size ( > 100mb ) and poller takes time to download it.
3. When poller is downloading files, and at the same time if user updates/modifies ( copy & paste the same file ) the source file then poller br

[2017-05-02 12:42] garyrussell commented on #177
It is not a good design (using any technology) to fetch a large file that might be modified during the fetch. The results are indeterminate.

Plus, even if you could handle it, you'd be wasting bandwidth by fetching the same data over and over again.

But what happens then if the user wants to write while the file has a temporary name?

It would be much better to have the writer "close" the file (

[2017-05-26 12:37] MLabusquiere commented on #176
Hi there, i use this issue tracker because i don't really know where to ask. Sorry !

I'm wondering why the zip extension is not in the [mvn central repository] (https://repo.maven.apache.org/maven2/org/springframework/integration/) ?

[2017-05-26 14:41] artembilan commented on #176
@MLabusquiere ,

that's because we push into Maven Central only GA releases.
Since there is no such one for SI-zip project, there is no particular artifact there.

We release only M1 for this project which you can find in the [Milestone Spring Repository](https://repo.spring.io/milestone/org/springframework/integration/spring-integration-zip/).

You should just configure that https://repo.spring.i

[2017-06-01 13:38] MLabusquiere commented on #176
@artembilan thank you for your reply in such short time.
Yeah it does make sense to me.
But why there is no GA release planified ; it's really an helpful module ?
I mean if there is missing requirements and if you need some people i can help.

Anyway thanks for your answer.

[2017-06-05 13:49] artembilan commented on #176
OK, @MLabusquiere ,

We are going to release the next maintenance Spring Integration 4.3.10 version this week, so just after that I'll upgrade this project to that one and release this then.

[2017-06-05 13:51] artembilan commented on #166
@jvmlet ,

This is the place where people should request new SCSt App starters: https://github.com/spring-cloud-stream-app-starters/app-starters-release/issues

Closing this as non-relevant.

[2017-06-05 13:51] #166 closed

[2017-06-21 20:46] #160 closed

[2017-06-21 21:35] artembilan commented on #176
Guys, `compile('org.springframework.integration:spring-integration-zip:1.0.0.RELEASE')` has been released.
It is now available in the https://repo.spring.io/release/org/springframework/integration/spring-integration-zip/1.0.0.RELEASE/. And will be synced with Maven Central over a couple hours.

Thank you for your patience.

[2017-06-21 21:35] #176 closed

[2017-07-06 07:33] natami opened #178 "When do you plan on releasing spring-integration-hazelcast?"

[2017-07-06 14:17] artembilan commented on #178
Thank you for the attention to the project!

As you see there is no activity, no feedback, therefore nothing to release.

But at the same time there is `1.0.0.M2` which can be use from the https://repo.spring.io/milestone/org/springframework/integration/spring-integration-hazelcast/1.0.0.M2/ repo.

If there is strong requirements to have GA on the matter, we can do that for you, like we recently r

[2017-07-06 14:42] natami commented on #178
A GA would be preferable - as our internal repo does not sync with external milestone and snapshot repos.

[2017-07-06 14:45] artembilan commented on #178
OK. I see. I'll come back to this task somewhere next week and do the GA for you.

Maybe some features and fixes will be included, too...

[2017-07-10 14:25] #172 closed

[2017-08-25 14:38] agk2 commented on #168
@artembilan,
Thanks for releasing SI-SMB-0.5.0Release it really help full in our project.
Any plan to release SI-SMB-1.0.Release with SMB Outbound Channel Adapter?

[2017-09-01 22:27] artembilan commented on #168
@agk2 ,

We don't have requirements and demands on this project, so there is just no dedicated resources to go ahead. We all are busy with more important projects.
However contribution is always welcome and we will be more than happy to review, merge and eventually release improvements.

Thanks for the interest to the project any way!

[2017-09-18 14:23] KeithMilner opened #181 "Can't configure channel for SmppInboundAdapter using @InboundChannelAdapter annotation"
I'm trying to configure an SmppInboundChannelAdapter using java config, and it doesn't let me configure the channel using the InboundChannelAdapter(value="fooChannel") annotation, which I understand to be the normal way of configuring these (see JdbcPollingChannelAdapter example at https://docs.spring.io/spring-integration/reference/html/overview.html ).

I've been able to configure it using the f

[2017-09-18 14:44] garyrussell commented on #181
`@InboundChannelAdapter` is for polled endpoints; this is a message-driven endpoint.

Yes, it should be a `MessageProducerSupport`; however you can configure it a little more simply, like this...

[code]

[2017-09-18 14:46] KeithMilner commented on #181
OK, thanks. Is there an equivalent annotation for message driven endpoints, out of interest?

[2017-09-18 14:49] garyrussell commented on #181
No; they are simple `@Bean`s; polled endpoints need two beans a `SourcePollingChannelAdapter` and a `MessageSource`; the annotation causes the framework to create the SPCA and a `MessageSource` wrapper around the source method.

[2017-09-18 14:49] artembilan commented on #181
??? There is no reason for that annotation because `MessageProducer` is a thing per se: https://docs.spring.io/spring-integration/reference/html/overview.html#programming-tips.

There is just no need to auto-configured some infrastructure around this type of components, like in case of pollable Channel Adapters.

[2017-09-18 14:49] #181 closed

[2017-09-18 14:50] KeithMilner commented on #181
OK, thanks

[2017-09-19 12:43] garyrussell commented on #181
[INTEXT-230](https://jira.spring.io/browse/INTEXT-230).

[2018-01-22 15:29] philnate opened #183 "Issues with leader election if Hazelcast cluster nodes failed"
Our application is connected to a separate hazelcast connection to the cluster as clients. We experienced outages to some of the hazelcast nodes leading to no leader elected.

Scenario:

* Our Client Nodes( our service) connects to hazelcast cluster (server)
* Cluster has one leader, state of Leader Election is fine
* Some/all server nodes fail
* After service recovery no instance is Leader, Hazel

[2018-01-23 23:00] artembilan commented on #183
Sounds reasonable, @philnate .

Any chances to see a contribution from your side?

Otherwise I will look into this some where in the end of week.

Thanks for bringing this up though!

[2018-02-06 16:04] artembilan commented on #178
The version `1.0.0.RELEASE` has been released for a while already: https://search.maven.org/#artifactdetails%7Corg.springframework.integration%7Cspring-integration-hazelcast%7C1.0.0.RELEASE%7Cjar

[2018-02-06 16:04] #178 closed

[2018-02-06 16:18] artembilan commented on #178
BTW: https://spring.io/blog/2017/07/17/spring-integration-extension-for-hazelcast-1-0-0-ga-available

[2018-02-06 17:28] artembilan commented on #183
Please, consider to use [`LockRegistryLeaderInitiator`](https://docs.spring.io/spring-integration/docs/5.0.1.RELEASE/reference/html/messaging-endpoints-chapter.html#leadership-event-handling) based on the `HazelcastLockRegistry` instead meanwhile I'm looking to the fix here in the `org.springframework.integration.hazelcast.leader.LeaderInitiator`.

Although I feel like the solution should be simil

[2018-02-06 19:46] artembilan commented on #183
@philnate ,

I have just pushed the fix into the `master`.
The artifact  with the version `1.0.1.BUILD-SNAPSHOT` should be available shortly.

Please, let me know how it works for you.

Thanks to your report I see that mentioned above `LockRegistryLeaderInitiator` has the same issue number 2 you are mentioning. Indeed when target server is disconnected we just go out from the loop and exit without

[2018-04-23 21:05] prafsoni opened #185 "Spring Integration 5.x and Spring Boot 2.x support"
Any roadmap when these extensions will be updated to support spring integration 5.x? I am specifically interested in "spring-integration-smb"

[2018-04-23 21:08] artembilan commented on #185
We do that on demand. As far as no any feature plans in these project we just support them in respect to a general community request.

Each of the extension is a separate project, so there is no need to wait for all of them to be upgraded.

Since you have request this one, we will consider to address it this week.

The contribution is welcome though! And you are free to raise an upgrade PR for the

[2018-04-23 21:29] prafsoni commented on #185
@artembilan I will give it a try tonight.

[2018-04-24 14:37] prafsoni commented on #185
@artembilan hi I made first attempt to upgrade the project to spring integration 5, and ran into issues with `SmbInboundChannelAdapterParser ` due to addition of ` protected abstract Class<? extends AbstractPersistentAcceptOnceFileListFilter<?>> getPersistentAcceptOnceFileListFilterClass()` in `AbstractRemoteFileInboundChannelAdapterParser `

[2018-04-24 15:47] artembilan commented on #185
Right, we have introduce since there a fine-grained filters configuration based on the target remote file info.

You can take a look into the Spring Integration FTP and implement similar filters for the SMB: https://github.com/spring-projects/spring-integration/blob/master/spring-integration-ftp/src/main/java/org/springframework/integration/ftp/config/FtpInboundChannelAdapterParser.java

[2018-04-26 15:07] #177 closed

[2018-05-01 20:50] prafsoni opened #187 "spring-integration-smb v1.0.0 Release"
Any timeline when this will be released?

[2018-05-03 13:00] artembilan commented on #187
I will do this tomorrow.

Thanks for the heads up!

[2018-05-14 13:56] KrzysztofKarol opened #192 "Git conflict code in ConsumerConfigurationTests.java"
https://github.com/spring-projects/spring-integration-extensions/blob/e5703b5f9c353f7b711b6af4204a68a3a2f941e8/spring-integration-kafka/src/test/java/org/springframework/integration/kafka/support/ConsumerConfigurationTests.java#L90

[2018-05-14 14:03] #192 closed

[2018-05-29 14:30] gorille opened #193 "smb MessageHandler not correctly serializing user/password"
Hi Folks,

I've just tried to use the spring integration smb extension to push files [according to this post](https://spring.io/blog/2017/01/18/spring-integration-extension-for-smb-0-5-0-is-available).

[code]

I do fill in the user/password/doamin and when I launch the code, I get an error

[code]

Please do note the **user%3Apassword** , this comes from [here](https://github.com/spring-projects/

[2018-05-29 15:24] artembilan commented on #193
Please, share with us how do you configure those `user/password/doamin`.

However It looks like would be better to use `UriComponentsBuilder` from Spring Web for encoding: https://docs.spring.io/spring/docs/5.0.6.RELEASE/spring-framework-reference/web.html#mvc-uri-building

[2018-05-30 06:49] gorille commented on #193
I use the provided SmbSessionFactory  as explained in the post.

[code]

[2018-05-30 14:52] ttomttom opened #194 "CacheListeningPolicyType.ALL not working when using ITopic"
Messages published to an ITopic are being received by local hazelcast member **only**, all remote members receive the message but they discard it even when `CacheListeningPolicyType.ALL` is set by the `HazelcastEventDrivenMessageProducer`

`HazelcastMessageListener` is ignoring the currently set `CacheListeningPolicyType` and just calls sendMessage with null here:

https://github.com/spring-projec

[2018-05-31 21:48] #194 closed

[2018-05-31 21:54] artembilan commented on #194
This is just an omission I guess.

Good catch!

The latest `1.0.1.BUILD-SNAPSHOT` contains the fix.

Thank you for the feedback!

[2018-06-04 17:55] #193 closed

[2018-07-10 12:50] philnate commented on #183
@artembilan sorry for the late reply, I finally managed to look into your changes. And there's one thing I noticed, which seems not correct to me:

https://github.com/spring-projects/spring-integration-extensions/blob/f9c7cccf7572e70b8bf47d909047919299651903/spring-integration-hazelcast/src/main/java/org/springframework/integration/hazelcast/leader/LeaderInitiator.java#L289

There if the lock was

[2018-07-10 14:32] artembilan commented on #183
That's correct. The logic is exactly about reentrance. We got to that `else if (acquired) {` only if we have locked already once before and we are leader already. See when we say `this.locked = true;`.

The point is when we unlock during `yield()`, we need to call unlock on the target native lock implementation already, but not just decrease reentrance count. In other words everything we have here

[2018-07-11 06:13] philnate commented on #183
In case of the whole Hazelcast cluster being restarted and all state was lost this doesn't hold true for hazelcast.
See this table:

locked | acquired | lockCount | comment
------ | --------- | ---------- | ----------
false | true | 1 | lock was acquired for the first time, native/non-reentrant lock
true | true | 2 -> 1 | lock already holded and acquired again. reentrant lock unlocked to hold nati

[2018-07-11 14:05] artembilan commented on #183
Sorry, I don't understand your third situation. From the `LeaderInitiator` perspective it is just a third iteration and the state must be `2 -> 1`, like in the second iteration. There is just no difference. Just because we have just stepped into the `lock.tryLock()` with successful result.
If you say it's not a case for Hazelcast and it just increases a `lockCount` without checking the cluster sta

[2018-07-13 07:11] philnate commented on #183
The third situation occurs when the Hazelcast cluster was down, in this situation there's no more information left on granted locks from the point of Hazelcast. It's like a fresh start for Hazelcast. But the application is still running and was master before the Hazelcast outage, at least on my machine the request to Hazelcast seemed to have stalled until the cluster recovered. Thus the applicatio

[2018-07-13 16:54] artembilan commented on #183
Yeah... I think I know what you mean: https://jira.spring.io/browse/INT-4447.

We need to back port that fix from the `LockRegistryLeaderInitiator`.

Will fix soon.

Thanks

[2018-07-13 17:17] #183 closed

[2018-07-13 17:23] artembilan commented on #183
@philnate ,

Thank you for your patience!

Please, take a look into the latest fix on the matter.

[2018-08-29 18:45] slowjack2k opened #197 "Update spring-integration-hazelcast to spring-integration 5.x"
Hi,

at the moment spring-integration-hazelcast does not work with spring integration 5.
For instance `HazelcastMessageStore` does not implement all abstract methods.

Are there any plans for an update?

regards
jack

[2018-08-29 18:58] artembilan commented on #197
Good catch, @slowjack2k !

Well, there is no plans, but no one stops us to start a new version `2.0.0` on the matter and upgrade as you mention.

The contribution is welcome!

[2019-01-02 18:35] artembilan opened #199 "Upgrade Cassandra extension to the latest dependencies and release 0.6.0 version"

[2019-01-08 17:12] #199 closed

[2019-04-06 04:33] GregBragg opened #206 "Update version of dependant library jCIFS to handle SMB2/SMB3"
Currently the version of jCIFS used only supports SMB1, need to update the dependant lib to the latest version that handles SMB2/SMB3.

[2019-04-10 15:02] #206 closed

[2019-04-11 02:25] artembilan commented on #206
Here is the release BTW: https://spring.io/blog/2019/04/10/spring-integration-smb-1-1-ga-available

[2019-04-11 12:36] GregBragg commented on #206
Thanks you very much Artem!

Greg.

From: Artem Bilan <notifications@github.com>
Sent: Wednesday, April 10, 2019 10:25 PM
To: spring-projects/spring-integration-extensions <spring-integration-extensions@noreply.github.com>
Cc: Gregory Bragg <gbragg@thecommonwell.ca>; Author <author@noreply.github.com>
Subject: Re: [spring-projects/spring-integration-extensions] Update version of dependant library

[2019-04-12 19:12] GregBragg opened #208 "Enhancement - Ability to set the SMB min/max versions"
This enhancement will leverage a feature in the jCIFS library to set the min/max SMB versions via configuration. Current implementation defaults to JCIFS properties jcifs.smb.client.minVersion="SMB1" and jcifs.smb.client.maxVersion="SMB210".

[2019-04-15 15:11] #208 closed

[2019-04-25 15:17] ceremo opened #212 "SMB with custom transport configuration"
Hi,
We want to change the transport configuration like timeouts, this is defined as a configuration of the CIFSContext, and the SessionFactory with each session creates a new SmbShare that uses always the SingletonContext, it will be great that we can pass to a session factory a context with a custom configuration.

Thxs.

[2019-04-25 15:28] GregBragg commented on #212
There are a lot of jcifs.smb.client.* properties in the jcifs.config.PropertyConfiguration class that can be set via configuration in the dependent jCIFS library. Can you review this class please to see if the defaults are sufficient?

Which specifically besides timeout are you considering? I'm not sure if exposing all the jCIFS properties is really feasible at this point.

[2019-04-25 17:10] ceremo commented on #212
Thxs for you quickly answer @GregBragg, I'm not looking for having all the properties available, what I'd like is to be able to pass a custom BaseContext to the SessionFactory, and if this is defined work with it, and if this is not available uses the SingletonContext.

[2019-04-25 17:18] GregBragg commented on #212
So you are looking to extend jcifs.context.BaseContext or the base class jcifs.context.AbstractCIFSContext to add some further custom implementation? Can you give me an example of why you need to do this?

[2019-04-26 09:53] ceremo commented on #212
We need to have some SMB clients, and each of them with different transport configurations using a BaseContext to keep this custom configuration, to achieve this goal, I was expecting that SmbShare has a constructor like SmbFile (`public SmbFile ( URL url, CIFSContext tc )`), and SmbSessionFactory has also an additional constructor with the parameter CIFSContext, so when SmbSessionFactory has to c

[2019-04-26 12:51] GregBragg commented on #212
I'll look into it and create a separate feature branch in my fork... I'll need to run the design past @artembilan for final approval.

In the meantime can you please provide some test classes that implement the CIFSContext for my JUnit tests and the expected results. You can zip them up and attach it here to the issue.

[2019-04-26 13:32] artembilan commented on #212
Yes, I found this request as valid.
Since `SmbShare extends SmbFile` and the last one has a ctor like:
[code]
We definitely have to expose such an API on our level as well.

In the end this is already end-user responsibility to use our API a proper way and if an underlying library provides some tricks, there is no reason to hide them.

[2019-04-26 14:50] GregBragg commented on #212
I've made the changes in a feature branch in my fork:
https://github.com/spring-projects/spring-integration-extensions/compare/master...GregBragg:SMB_with_custom_transport_configuration_%23212

@ceremo  I'll still need the test classes before I can create a PR for this.

[2019-04-27 17:44] ceremo commented on #212
I'm creating an ordinary BaseContext with the configuration already customized, for the configuration I created a class extending of BaseConfiguration to be able to use @ConfigurationProperties and load the config using properties, this was because some getters and setters don't match with the class variables, and that's all. To inject this context to the SmbShare I had to use reflection, but with

[2019-05-01 18:44] #212 closed

[2019-06-16 21:01] idueppe opened #215 "IOException while unzipping File"
I got an IOException while unzipping a ZipFile caused by a FileNotFountException. The cause is that zip file can contain zip entries that are of type file but located in a subfolder. For instance, I received a zip file that only has one ZipEntry of "invoices/invoice_1.pdf". The UnZipTransformer will not create the subfolder invoices because the ZipEntry is of type file.

[2019-06-17 15:27] artembilan commented on #215
You know we have a test-case on the matter:

[code]

And that `countries.zip` has a subfolder inside:
![image](https://user-images.githubusercontent.com/1071590/59616407-60153a00-90f2-11e9-8b7c-714619ec52e5.png)

(Sorry for Windows and Russian 😄 )

Our config in the test has this code:
[code]

You might use some old Spring Integration version which doesn't create subfolders in the target destinati

[2019-06-17 21:06] idueppe commented on #215
@artembilan this doesn't work. Currently, only zip files are tested a folder hierarchy. Like:
directy_entry: subfolder/
    file_entry: textA.txt
    file_entry: textB.txt

My issue is about a flat file entry structure like:
- file_entry: subfolder/textA.txt
- file_entry: subfolder/textB.txt

This is a valid structure of zip files and the UnZipTransformer is breaking on such a zip file structure.

[2019-06-18 16:16] artembilan commented on #215
I don't understand what is that `flat file entry structure`. Does it really exist in the real world?
Is it really possible to zip a complex folder with such an unusual structure?

On the other hand our project is fully based on the https://github.com/zeroturnaround/zt-zip library. Why don't you think your specific use-case has to be supported over there?
When they have a fix we just transparently

[2019-06-18 19:28] idueppe commented on #215
The flat file entry structure exists in the real world. For instance, the German Telekom sends there invoices via email in a zip file with a flat file structure. In my project test data, I found more than 20 files from different companies, that has a flat file entry structure.  Even most java jar files do not contain a directory entry, also. Just try to find a META-INF folder on your class file. I

[2019-06-18 19:38] artembilan commented on #215
OK! Now it's getting clearer for me.
Thank you for such a thorough explanation!
Let's just into your OR for review now! 😄

[2019-06-18 21:14] #215 closed

[2019-08-05 20:21] Lewik opened #218 "Kotlin DSL"
## Enhancement
Kotlin is "very" type safe. I didn't found any type safety in Java DSL. I think it's a good idea to see type problems right in IDE. It's impossible to do while using `.handle("someBean")` but it's possible when using beans from method definition and arguments.

Scratch:
[code]

All fluent calls in someConfig know about types except calls with string argument - there is no way to che

[2019-08-21 20:22] jkubrynski opened #217 "Leader election lock is acquired for 9223370472786555805 ms"
We're using the `LockRegistryLeaderInitiator` mechanism to control leader election in the cluster backed with Hazelcast. I see that it uses `tryLock(long time, TimeUnit unit)` method without specifying the maximum lease time. In fact, it's possible that without graceful shutdown the instance won't release the lock and then no other leader will be elected. All instances then are logging
`Acquiring

[2019-08-23 16:38] artembilan commented on #217
Hm... I don't see any big problem with casting a `LockRegistry.obtain()` result into the `ILock` and perform many useful Hazelcast features on it, including desired `tryLock(long time, TimeUnit unit, long leaseTime, TimeUnit leaseUnit)` and `lock(long leaseTime, TimeUnit timeUnit);`. With the `LockWrapper` we need to keep `ILock` contract for possible casting in the end-user. But if that is the fa

[2019-09-24 19:24] #218 closed

[2019-10-31 09:57] zbabos opened #221 "spring-integration-smb 1.1 does not work with spring integration 5.2."
Hi,
at the moment spring-integration-smb 1.1 does not work with spring integration 5.2.
For instance SmbSession does not implement String getHostPort(); abstract method of 5.2 version Session.class.

The spring-integration-smb 1.2  is not yet available in Maven Repository, but I have seen its SmbSession source also does not implement this String getHostPort()  yet.

Are there any plans for an upda

[2019-10-31 12:24] GregBragg commented on #221
I believe the intention from a release perspective was to release spring-integration-smb 1.2 when spring integration 5.2 went GA, however I'll let @artembilan speak to that plan.

@artembilan We should also consider upgrading the dependent JCIF library to the latest version in the Gradle build before building against Spring Integration 5.2.

Thanks.

[2019-10-31 15:15] artembilan commented on #221
I have just pushed upgrades: https://github.com/spring-projects/spring-integration-extensions/commit/442463ad8fa944f48cd786387bf2c4ae2dd5a499

Ping me, please, next week, somewhere on Tuesday, so I don't forget to release it 😉

[2019-11-05 14:50] artembilan commented on #221
Fixed via: https://github.com/spring-projects/spring-integration-extensions/commit/ad3374648eeb73722edb9db71431094af2300dc3

Here is a release: https://repo.spring.io/release/org/springframework/integration/spring-integration-smb/1.2.0.RELEASE/.

On its way to Maven Central.

[2019-11-05 14:50] #221 closed

[2019-11-05 19:50] #197 closed

[2019-12-12 15:15] artembilan opened #222 "Upgrade Cassandra to version 4"
This likely makes `spring-integration-cassandra` based on SI `5.3`: https://github.com/spring-projects/spring-integration/issues/3121.

See also: https://github.com/spring-projects/spring-boot/issues/18621

[2020-06-20 00:14] beardy247 opened #225 "spring-integration-smb memory leak in SmbShare"
Hi,

I've been experiencing a memory leak generated by SmbSession. I wasn't using a CachingSessionFactory so each poll was causing a leak due to the open file blocking the thread from finalizing. I've tracked it down to this method on SmbShare:

[code]

Looks like the comment is out of date, jcifs.smb.SmbFile close() method is public. Calling super.close() resolves the memory leak.

Thanks,
Adam

[2020-06-20 03:04] artembilan commented on #225
Thank you for reporting this observation! We would appreciate if you raise a pull request with respective fix.

[2020-06-22 21:54] #225 closed

[2020-06-24 16:01] artembilan commented on #222
Has been fixed with this release: https://github.com/spring-projects/spring-integration-extensions/releases/tag/cass.v0.8.0.RELEASE

[2020-06-24 16:01] #222 closed

[2020-10-14 08:05] mleguevel opened #235 "Memory leak with org.springframework.integration.hazelcast.leader.LeaderInitiator"
Hello,

I think that the hazelcast [LeaderInitiator](https://github.com/spring-projects/spring-integration-extensions/blob/462a469d4c755021ba7a1730ddc86910692093e1/spring-integration-hazelcast/src/main/java/org/springframework/integration/hazelcast/leader/LeaderInitiator.java#L276) causes a memory leak. The reason for this is that it's calling `tryLock` twice before calling `unlock` and continuing

[2020-10-15 08:17] mleguevel commented on #235
Hi @artembilan

I created a PR: https://github.com/spring-projects/spring-integration-extensions/pull/236
I'm not entirely sure that it's totally equivalent to the previous algorithm though. But the LeaderInitiatorTest tests pass.
I removed the two additional hazelcast instances from the test class because I assumed that they were added to circumvent the bug that prevented hazelcast from starting

[2020-10-19 16:09] #235 closed

[2020-11-25 11:30] al81-ru opened #237 "HazelcastContext does not implement getRole() method"
It is not possible to get role from LeaderInitiator as LeaderInitiator.getContext().getRole() always returns null

[2020-11-25 16:20] artembilan commented on #237
Yeah... I see. This is definitely an omission from our side.

Would you mind to consider contributing the fix calling `LeaderInitiator.this.candidate.getRole()` respectively from that impl?

Thanks

[2020-11-25 19:01] al81-ru opened #239 "Hazelcast LeaderInitiator inconsistent yielding"
Sometimes (more often than not) after yielding a role the same node gets promoted again. Also there are warning logs about InterruptedException error - is that expected behaviour?

[sample code for reproduction](https://github.com/al81-ru/spring-integration-hazelcast-test/blob/master/src/main/java/TestCase.java)

[sample output](https://pastebin.com/WdZKT6zP)

[2020-11-25 19:23] #237 closed

[2020-11-25 19:31] artembilan commented on #239
Thanks for reporting this.

We probably should suppress that  `java.lang.InterruptedException: sleep interrupted` because it is normal behavior when we yield, so we just really interrupt the current active thread.

The behavior with obtaining a leadership back is really an expected behavior, although we might think about some sleep just after yield to let other nodes to take it from us.

Feel free

[2020-11-25 20:52] artembilan commented on #239
Well, actually the logic there is like this:
[code]

So, we indeed have that `Thread.sleep(LeaderInitiator.this.busyWaitMillis);` in a new initiated task before we really start selecting from the currently "broken" node. Or that `this.busyWaitMillis` is too small or you are so unlucky that the same node is selected back because the other one is so slow to take a lock for leadership...

[2020-11-25 23:35] al81-ru commented on #239
I wonder if ICountDownLatch can provide a solution: after yielding set up countdown and await with configured timeout, until other node acquired leadership and finished countdown

[2020-11-30 18:20] artembilan commented on #239
Now imaging that we don't have other nodes at all, well some transient state when we lost them. So, who is going to fulfill that `ICountDownLatch` for us? I we still need to be able to re-enter the leadership even if we have just yield.

[2020-12-11 11:52] al81-ru commented on #239
Yes, there is no point in this approach, increasing busyWaitMillis is enough. And for more complicated user logic it's better to use stop() and start()

[2020-12-11 11:52] #239 closed

[2021-01-13 18:11] asegarra opened #241 "Zip: If there is a problem with unzipping and deleteFiles is true then original file is deleted"
edit: duplicate issue submission.

[2021-01-13 18:11] asegarra opened #242 "zip: Exception during unzip deletes original file if deleteFiles is true."
I found it odd that an exception being thrown from the unzipping process would still delete the original file making the situation a bit unexpected, I would have expected the deletion to occur only if the unzip was successful.

[2021-01-13 18:12] #241 closed

[2021-01-13 20:17] artembilan commented on #242
Yes, I see your point:
[code]
it is really not OK to delete in the `finally` when exception may happen in the main code.

Feel free to contribute the fix.

Thank you for catching this and raising an issue!

[2021-02-26 22:28] #242 closed

[2021-05-14 14:15] phatt-millips opened #244 "Spring Integration SMB Half Upload on Graceful Shutdown"
I have a service that is using spring-integration-smb 1.2.0 to upload zipped documents to a file share. It is also running in Kubernetes. After some investigation, we found that the service is uploading corrupt files as the service is being scaled down. The simple solution was to update to 1.2.1 which partially fixed the issue only now the service is submitting half of the data. More specifically,

[2021-05-14 16:25] artembilan commented on #244
Try to upgrade to the latest `org.codelibs:jcifs:2.1.25`: https://github.com/codelibs/jcifs/releases.

I don't think that we can do something on the matter from Spring Integration code base since we fully delegate to the `jcifs` API.

[2021-05-17 13:14] phatt-millips commented on #244
That does seem to be the issue. I added the `org.codelibs:jcifs:2.1.25` dependency and it shuts down gracefully but strangely enough it now leaves off one document in the zip file

[2021-05-17 14:50] artembilan commented on #244
Sure! But still: isn't that what would better to discuss with `jcifs` library not here?

Please, consider to contact with their developers or ask the question on StackOverflow.

Our knowledge here is limited with what internals of that library.

Thanks for understanding.

[2021-05-17 16:18] phatt-millips commented on #244
That's fine. I'll see if I can reach out to them. Thanks!

[2021-05-17 16:18] #244 closed

[2021-06-24 08:02] mpern opened #245 "spring-integration-zip: Status?"
Hi all!

What's the status of `spring-integration-zip`?

If I look at the build, it is still compiled against Spring Integration 4.3 which means it is not really compatible against Spring Integration 5.x

Is there a different/better way to handle zip files?

[2021-06-24 14:30] artembilan commented on #245
Thank you for raising this concern!

If it is not compatible, then we just need to start a new version, fix and release.
Our point was to keep only one version for all the backward compatibility to minimize support burden for these extension modules.

How does it look from an exception perspective, please, which would make us to bump Spring Integration Core dependency and start a new version for t

[2021-06-24 16:44] mpern commented on #245
The one problematic bit I know of:

There are is a method signature incompatibility in:

`org.springframework.integration.zip.transformer.AbstractZipTransformer#doTransform` (spring-integration-zip)

[code]

vs

`org.springframework.integration.transformer.AbstractTransformer#doTransform` (spring-integration-core)

[code]

[2021-06-24 17:43] artembilan commented on #245
Yeah... I see your point.

So, from here we are starting a new version `2.0.0` for this Spring Integration Zip extension and making it based on the latest Spring Integration `5.5`.

We release it probably tomorrow.

Thank you for your patience!

[2021-06-25 18:21] artembilan commented on #245
The version `2.0.0` for Spring Integration Zip extension has been released: https://github.com/spring-projects/spring-integration-extensions/commit/9f909c62b296e1139414039832a4b933bcd76c34.

Give it a couple hours to appear in Maven Central.
Although you can use it already from the: https://repo.spring.io/artifactory/release - https://repo.spring.io/artifactory/release/org/springframework/integrat

[2021-06-25 18:21] #245 closed

[2021-09-08 14:55] abdurrehmansyeds opened #246 "Deprecate fileReplace option from SmbSessionFactory and remove it in future"
Currently the file replace option is provided via **SmbSessionFactory**, I feel that the session object should not have the logic to replace files it should be limited to just connection.
**FileTransferringMessageHandler** has **FileExistsMode.REPLACE** as default file exists mode but still it fails to replace.
Can we please have the file replace control in **FileTransferringMessageHandler** and d

[2021-09-09 16:04] artembilan commented on #246
This is good candidate for end-user contribution.
Feel free to raise a PR and we will review it ASAP: https://github.com/spring-projects/spring-integration/blob/main/CONTRIBUTING.adoc

Thank you!

[2021-09-20 14:04] Sthalla-BRONGA opened #247 "Spring Integration LockRegistry support for Cosmos"
**Expected Behavior**

Spring Integration LockRegistry support for Cosmos

**Current Behavior**

**Context**

[2021-09-20 14:05] artembilan commented on #247
Moved to Spring Integration Extensions project since this request is not relevant for the core project.
The contribution on the matter is welcome: https://github.com/spring-projects/spring-integration/blob/main/CONTRIBUTING.adoc!

Thank you!

[2021-11-18 04:24] BenjaminHutchinson opened #248 "HazelcastMessageStore should use keySet instead of values"
Expected Behavior

The 'doListKeys' method in HazelcastMessageStore should return a list of keys within the message store that match the pattern

Current Behavior
The method currently returns the full value object, which causes a classcastexception down the line.

Context

I believe the method should internally be calling keySet on line 82, instead of values.

![image](https://user-images.githubus

[2021-11-18 15:05] #248 closed

[2021-11-18 15:06] artembilan commented on #248
Thank you @BenjaminHutchinson , for reporting this!
I have just pushed the fix.
Our mistake was not having a test coverage for that functionality.

Looking forward for more contribution from you!

[2021-11-18 15:12] artembilan commented on #248
Here is a SNAPSHOT with the fix: https://repo.spring.io/libs-snapshot-local/org/springframework/integration/spring-integration-hazelcast/3.0.1-SNAPSHOT/spring-integration-hazelcast-3.0.1-SNAPSHOT.jar.

Let us know and we can that `3.0.1` since we have a couple more fixes over there.

[2021-11-18 15:18] BenjaminHutchinson commented on #248
Cheers for the quick fix, I've begun using the library in a project I'm working on so I'll be able to pass along any feedback that comes from that as well.

[2021-12-31 12:23] cvetan opened #249 "Doesn't build with Java 17, and old jcifs"
I have application with Spring Boot 2.5.5, Java 17 and jcifs version 2.1.1 dependency from this library.

The project doesn't build. If I change jcifs version to latest one, then build passes.

I suppose the dependency listed here needs to be updated.

The exception happening is this:
[code]

[2022-01-03 18:40] artembilan commented on #249
Feel free to raise a Pull Request with a respective fix.

Although we never advertised to be compatible with Java 17 in this long non updated project, but it doesn't mean that we cannot move on and upgrade it to the latest dependencies and release, respectively.

Thanks

[2022-03-08 10:41] icstreispe opened #250 "FileTransferringMessageHandler not creating folders"
I've created a class like this:
[code]
Then used it in a spring integration flow like this:
[code]
And when I run the flow everything is fine as long as at least the folders dir1, dir2, dir3 are already created, it managed to create dir4. But if dir3 (or below dir1 or dir2) are not alread created, the component fails with:

What can I do in order to make it create all the necessary folders, no mat

[2022-03-08 18:45] artembilan commented on #250
Show, please, the whole stack trace for such an error.
The `RemoteFileUtils.makeDirectories()` has a logic like this:
[code]
So, if you add a DEBUG logging level for the `org.springframework.integration.smb.session` category, you would see what is going to be created against remote session.

Tell us also, please, how it works if you don't have that `/` in the end of your path.

[2022-03-09 20:29] icstreispe commented on #250
full path from log:  **int2/PRJ/data/20220303/provider/IN/**
**int2/PRJ/data/** exists already
**20220303/provider/IN/** - do not exist yet

trace:

....

the logs as you said

[2022-03-09 21:39] artembilan commented on #250
This is the part of JCIFS where that exception is thrown:
[code]

Doesn't looks like there is something we can do with this problem in this project.
I suggest you to raise the concern with JCIFS community or your SMB vendor.

Perhaps you got some limits for your requests?..

[2022-03-23 20:19] icstreispe commented on #250
seems that I found out the problem in the end:
**smbRemoteFileTemplate** should be initialized with a `SmbSessionFactory` object and the value of its `shareAndDir` property should contain an `/` at the end

[2022-03-23 20:27] artembilan commented on #250
Hm.
We have a logic in there in the `SmbConfig` like this:
[code]

According to your findings it looks like we also have to add `/` into the end.

If that is what you are thinking, too, feel free to contribute the fix.

Thank you!

[2022-03-25 00:05] cvetan opened #253 "Can't create nested directories on SMB share"
When I try to create nested directories on SMB share I get SmbException with following message: `The network name cannot be found`. Creating directory in root directory of share works. Also creating directories on any level works with direct file system access with same credentials.

I have defined Smb session bean and I am calling directory making like this: `smbSession.mkdir(path)`

[2022-03-25 14:54] ipanimnim opened #254 "Migrate this repo into Spring Integration repo"
Opinion - this repo is redundant, confusing, looks unmaintained, and encourages people to not contribute new Spring Integrations Connectors (since these connectors won't enter the Spring Integration project, and instead enter an unknown and undocumented one).

I don't see any advantage to this, and as a new user, I'm just getting more and more confused by this whole thing.

[2022-03-25 15:31] artembilan commented on #254
Thanks for bring this up, @ipanimnim .

We already such a discussion in other place: https://github.com/spring-projects/spring-integration/discussions/3720.

Feel free to continue over there.

[2022-03-25 16:53] almogtavor commented on #254
@artembilan The discussion we had there was out of subject (the issue was about the request for more extensions in general). This issue seems to fit more. Anyway, was there any progress in this subject since the last discussion?

[2022-03-25 18:12] almogtavor commented on #254
@artembilan would you accept PRs that will move this & other repos like `spring-integration-aws` to the main repo?

[2022-03-25 18:20] artembilan commented on #254
Not yet.
We are discussing internally what would be acceptable from this repo.
For example `twitter` is obsolete and based on the library which already out of support. So, it cannot be moved anywhere.
Perhaps to a new repo for obsolete modules a-la `spring-integration-attic`.
The AWS cannot be moved because it is based on Spring Boot and we cannot have circular dependencies.
And so on, so on. Too

[2022-03-25 18:32] almogtavor commented on #254
Why AWS is based on spring boot? About GCP, Alibaba and so, their fine as long as being referenced from the docs. All the others that are relevant should be in the same place, which should encourage to add more connectors over time.

[2022-03-25 18:44] artembilan commented on #254
Please, they are not called connectors. They are channel adapters. That's exactly a canonical name from EIP: https://www.enterpriseintegrationpatterns.com/patterns/messaging/ChannelAdapter.html.

The Spring Integration AWS uses Spring Cloud AWS , which is based on Spring Cloud, which, in turn, is based on Spring Boot. And the last one exactly uses Spring Integration. Therefore Spring Integration A

[2022-03-25 19:23] artembilan commented on #254
There is a difference to be dependent on a plain Spring module and the one based on Spring Boot. The auto-configuration from Spring Boot and Spring Cloud rely changes a play over here.
If Spring Cloud AWS is divided to separate projects: plain components and auto-configuration, then it could make difference for Spring Integration AWS. But not at the moment when
Therefore Spring Integration are not

[2022-03-28 08:47] icstreispe opened #255 "Consider using another library instead of jcifs"
We tried to use SI with the default library `jcifs `version 2.1.28 but the performance was very poor. We first though it's a buffer size problem and try to class shadow some internal spring and spring integration classes but to no succes. Transferring a 200MB file took 13minutes+ . In the end we gave up using some SI components, build a custom component for file transfer to samba based on `hieryno

[2022-03-28 14:59] artembilan commented on #255
Sure! Having a new Spring 6 era I guess we are free to make radical changes in this Spring Integration SMB module as well.
Feel free to contribute such a fix: https://github.com/spring-projects/spring-integration/blob/main/CONTRIBUTING.adoc.
Kinda start version `2.0`, based on Spring Integration `6.0` and so on.

Thanks

[2022-03-28 19:09] GregBragg commented on #255
I have been using this library for over 2 years in Production now and I have never experienced the performance issues that you mentioned... have you profiled that it is JCIF causing the slowdown?

We could move this to another SMB library, however that would be a radical change I would imagine and we would need to make sure that all the functionality of JCIF is reflected in SMBJ. Are you willing t

[2022-04-09 16:13] ipanimnim commented on #254
I think the AWS channel adapters should stay at their own repo (as long as being referenced from the official SI docs - which they currently do not). When it comes to channel adapters for Twitter, Cassandra, and more, I think they have to be in the SI official repo, and as fast as possible, since people don't know of them and think that they just don't exist (which happened to me). @artembilan wou

[2022-04-09 16:24] artembilan commented on #254
We cannot move twitter back because we really have moved it here for the reason its base library was EoL: https://spring.io/blog/2018/07/03/spring-social-end-of-life-announcement.

It can come back only if there is other library we can make channel adapters based on.

The `xmpp` is already in the main project: https://docs.spring.io/spring-integration/docs/current/reference/html/xmpp.html#xmpp.
An

[2022-04-09 16:44] ipanimnim commented on #254
So:
* spring-integration-cassandra
* spring-integration-etcd
* spring-integration-groovy-dsl
* spring-integration-hazelcast
* spring-integration-smb
 Seems good?

[2022-04-09 16:46] artembilan commented on #254
I think so. Let’s see how it goes!

[2022-04-25 14:38] #249 closed

[2022-04-26 13:00] GregBragg commented on #250
Not sure if this is a good idea to always force a forward slash at the end... I'd like to understand all the use cases before we allow this in the code.

As stated this is mitigated anyways by the configuration setting in the SmbSessionFactory initialization.

[2022-04-26 13:07] GregBragg commented on #246
This will probably require a refactoring of the code to create an outbound channel adapter specific to SMB to move this existing functionality out of SmbSessionFactory.

[2022-04-26 13:32] artembilan commented on #246
@GregBragg ,

That's exactly the point that `FileTransferringMessageHandler` already has that functionality with delegation to respective `RemoteFileTemplate` implementation.

[2022-04-26 13:35] artembilan commented on #250
Yes. We can live with that workaround and give it some flexibility when same configuration without "forward slash at the end" works in other environment.

[2022-04-26 13:46] GregBragg commented on #246
Yes exactly what I was thinking... I'm looking into this now.

[2022-04-28 19:52] GregBragg commented on #246
I retract my previous statement... to fix this properly we need to rip out the legacy implementations of values `replaceFile` and `useTempFile` flags in `SmbConfig`, the base classes of Spring Integration already handle this functionality gracefully.

As a result we need to build a new major version to clean up this code.

[2022-05-03 16:12] #246 closed

[2022-05-03 17:39] artembilan commented on #246
@abdurrehmansyeds , @GregBragg , `spring-integration-smb-1.2.2.RELEASE` is on its way to Maven Central.
However it is already available in Spring Repo: https://repo.spring.io/ui/native/libs-release/org/springframework/integration/spring-integration-smb/1.2.2.RELEASE/

[2022-05-05 20:12] GregBragg commented on #254
@artembilan Me again... I have a branch ready for the SMB extension to be migrated into the main Spring Integration repo that is ready for your review. Let me know if I can create a PR for it, or whether you would like me to hold off.

[2022-05-05 20:15] artembilan commented on #254
Sounds good, @GregBragg !

Just open a PR in https://github.com/spring-projects/spring-integration and we will proceed from there with details if any!

Thanks

[2022-05-06 20:52] artembilan commented on #254
The `spring-integration-smb` has made it into the core project: https://github.com/spring-projects/spring-integration/commit/7ad71d38d92a58d92690e3745a18ff5c4150bc3a

Big thanks to @GregBragg !

[2022-05-13 06:28] RobbanHoglund opened #259 "Restarting HZ cluster will not re-establish any leadership"
I have tested with the code below and it works good when restarting individual HZ members. But when restarting the whole HZ cluster  ( shut down everything), no clients will ever be the leader again (until all clients are restarted).

[code]

[2022-05-13 15:12] artembilan commented on #259
I'm not so good with Hazelcast to determine correctly from your description what is HZ cluster and how to configure it.

Any chances to have some simple project from you to reproduce and play with?
Or JUnit test, since I'm good to use a `Hazelcast.newHazelcastInstance()`, therefore I guess something similar should be there for a cluster...

Thanks

[2022-05-16 10:30] RobbanHoglund commented on #259
Hi,

Just create a simple springboot application and setup a hazelcast cluster locally in client/server mode (I use version 5.1.1 of Hazelcast).

This is a class/component should work out of the box in simple Springboot applicaiton:

[code]

So running this works fine until the while HZ cluster is shut down and the brought up again.

Then no one will be leader again, until the application is resta

[2022-05-16 14:56] artembilan commented on #259
Right. That's exactly the part I'm not familiar with.
Any chances you can share your sample configuration with me, so if I would try something myself, it won't lead to different results.

BTW, the HZ `LeaderInitiator` uses a `FencedLock` starting with version `2.0.0`.
Perhaps the logic around it in that class is somehow off since you confirm that plain `FencedLock` works well?
Would you mind to ta

[2022-05-17 06:57] RobbanHoglund commented on #259
Hi,

I did a test and some modifications. Can you grant me permission to push/create a branch?

//Robert

[2022-05-17 14:05] artembilan commented on #259
Hi, @RobbanHoglund !

Well, we don't interact that way. We follow a contribution procedure via forks and Pull Requests: https://github.com/spring-projects/spring-integration/blob/main/CONTRIBUTING.adoc

That one is general guide lines for Spring Integration, but that should be easy to apply for this extensions project as well.

Looking forward for your PR!

Thanks

[2022-05-18 20:32] #259 closed

[2022-11-03 15:09] ferblaca opened #261 "spring-integration-smb not supports Spring 6"
From `spring-core` version 6 has removed the `org.springframework.core.NestedIOException` class in favor of using `IOException` directly.

Currently, for the latest published version `1.2.2.RELEASE` of `spring-integration-smb` continues to use the class `org.springframework.core.NestedIOException`. For example in this [line](https://github.com/spring-projects/spring-integration-extensions/blob/e35

[2022-11-03 15:12] GregBragg commented on #261
Yes I was aware of that, however this extension project is no longer being maintained as it has been moved to the core project at https://github.com/spring-projects/spring-integration

The fix for the issue you have found is in the core SI repo.

[2022-11-03 15:15] GregBragg commented on #261
Specifically here are part of the Spring Integration 6.0 releases:
https://github.com/spring-projects/spring-integration/tree/main/spring-integration-smb/src

[2022-11-03 15:28] #261 closed